.navbar {
    overflow: hidden;
    background-color: gray;
}

.navbar ul{
    float: right;
}

.navbar ul li {
    overflow: hidden;
    float: left;
    text-align: center;
    padding: 14px 16px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown:hover {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    max-width: 35px;
}

.dropdown-content li {
    display: inline-block;
    text-align: left;
    float: none;
    background-color: aqua;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}